.main {
  padding: 0.5rem 1.25rem;
}
.main::-webkit-scrollbar {
  width: 5px;
}
.main::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--color-gray-500);
}

@media screen and (min-width: 40em) {
  .main {
    padding: 0.5rem 2rem;
  }
}
