.container {
  display: flex;
  flex: 1 1 0%;
  overflow-y: auto;
  flex-direction: column;
}
.container::-webkit-scrollbar {
  width: 5px;
}
.container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--color-gray-500);
}
